.todoList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
    width: 440px;
    overflow-y: auto;

    margin-top: 40px;
    padding: 0 20px;

    backdrop-filter: blur(15px) saturate(133%);
    -webkit-backdrop-filter: blur(15px) saturate(133%);
    background-color: rgba(20, 30, 48, 0.59);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.noTasks {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 12px;
}